<?xml version="1.0" encoding="utf-8"?>
<packages>
  <package id="BotBits" version="205.0.0" targetFramework="net45" />
  <package id="BotBits.Commands" version="1.2.6" targetFramework="net452" />
  <package id="JetBrains.Annotations" version="10.0.0" targetFramework="net45" />
  <package id="PlayerIOClient-Signed" version="3.2.369" targetFramework="net452" />
  <package id="System.Runtime" version="4.0.0" targetFramework="net45" />
</packages>